
body {
    background-color: #ffffff;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    margin-left: 20px;
    text-decoration:none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    
  }

.navigation-list {
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clear: both;
    gap: 10px;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: center;
    padding-right: 10px;
    text-decoration: none;
  }
  .navigation-list__item, .navigation-list__item--active {
list-style: none;
text-decoration: none;
}
.button-class {
background-color: #eaf1ec;
color: #353733;
text-align: center;
font-size: 25PX;
font-family: "Quicksand", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
padding: 20px;
justify-content: center;
margin: 10px;
padding: 30px;
width: 600px;
max-width: 600px;
min-width: 50px;
border-color: #000000;
border-radius: 5px;
border-width: .3px;
list-style-type: none;
list-style: none;
}
.button-class:hover{
    opacity: .6;
}
.button-class:active{
background-color: #353733;
color: #eaf1ec;
font-size: 30px;
}


.courseList{
    list-style-type: none;
}
li {
 list-style-type: none;
 text-decoration: none;
 margin-right: 200px;
 text-align: center;
 justify-content: center;
}

.whatCourse {
    text-align: center;
margin-right: 150px;
margin-top: 75px;
font-size:  25px;
font-weight: bolder;
text-transform: uppercase;
}
